#gfa-region-controller, #public-forecast-products {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.region-control {
    flex-grow: 1;
    border: 0;
    border-top: var(--px1border);
    border-left: var(--px1border);
    border-radius: 0;
    min-width: 25%;
    font-size: 18px;
    padding: 8px 0;
}

.region-control:nth-of-type(4n+1){border-left: none;}

.forecast-control {
    --padd: 40px;
    --size: 24px;
    padding-left: var(--padd);
    background-size: var(--size) var(--size);
    background-position: calc((var(--padd) - var(--size)) / 2) center;
    background-repeat: no-repeat;
}

#cldwx-nav {
    background-image: url("../images/icons/tsra-white.png");
}

#turbc-nav {
    background-image: url("../images/icons/sev-icg-white.png");
}

.product-control:first-of-type {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid black;
}
.product-control:last-of-type {
    border-radius: 0 4px 4px 0;
}
.product-control {
    border-radius: 0;
    border-left: 0;
    font-size: 18px;
}

#cmac-graphic-container { text-align: center; margin: 0 auto; width: 100%; }
#cmac-graphic { max-width: 100%; }

#tafplus > button { border-left: var(--px1border); }
#tafplus > button:first-of-type { border-left: none; }

#tafplus > h1, #alerts-list > h1 { text-align: center; }
#tafplus > h1::before, #alerts-list > h1::before {
    background-size: 100% 70%;    
    background-repeat: no-repeat;
    background-position-y: center;
    filter: invert();
}



#tafplus > h1::before { background-image: url("../images/icons/airport.png"); }

#alerts-list > h1::before { background-image: url("../images/icons/alert.png"); }

#tafplus > h2, #tafplus > h1, #alerts-list > h1, #alerts-list > div > h2 {
    margin: 0;
    padding: 4px;
    background: var(--infobg-c);
}

#alerts-list > h1 {
    border-top: var(--px1border);
    border-bottom: var(--px1border);
}

@media screen and (max-width: 865px) {


    /* .region-control { font-size: 12px; } */


}