.time-type-control {
    --padd: 40px;
    --size: 24px;
    padding-left: var(--padd);
    background-size: var(--size) var(--size);
    background-position: calc((var(--padd) - var(--size)) / 2);
    background-repeat: no-repeat;
}

#cldwx-nav {
    background-image: url("/images/icons/tsra-white.png");
}

#turbc-nav {
    background-image: url("/images/icons/sev-icg-white.png");
}

.product-control:first-of-type {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid black;
}
.product-control:last-of-type {
    border-radius: 0 4px 4px 0;
}
.product-control {
    border-radius: 0;
    border-left: 0;
}

#tafplus > button { border-left: var(--px1border); }
#tafplus > button:first-of-type { border-left: none; }

#tafplus > h1 { text-align: center; }
#tafplus > h1::before {
    background-size: 100% 70%;
    background-image: url("/images/icons/airport.png");
    background-repeat: no-repeat;
    background-position-y: center;
    filter: invert();
}
#tafplus > h2, #tafplus > h1 {
    margin: 0;
    padding: 4px;
    background: var(--infobg-c);
}
