* { box-sizing: border-box; }

#settings-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  z-index: 9999;
  padding: 1em 2em;
  margin: 1em;
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
  text-align: center;
  border: 2px solid black;
  border-radius: 0.25em;
  background: white;
}

#settings-popup form {
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#settings-popup form span {
  display: inline-flex;
  width: calc(50% - 2em);
  margin: 0;
  justify-content: space-between;
  margin: 1em;
  padding: 1em 0.5em;
  border: 2px solid rgb(61, 193, 119);
  background: white;
  align-items: center;
  border-radius: 0.25em;
}

#settings-popup form span > input, #settings-popup form span > select  { margin: 0; }
#settings-popup form span > label {margin-right: 0.5em;}


#settings-popup form button {
  appearance: none;
  background: white;
  padding: 0.5em 1em;
  margin: 0 12.5%;
  border: 2px solid rgb(61, 193, 119);
  border-radius: 0.25em;
  font-family: inherit;
  font-size: 1em;
  width: 25%;
  transition: background 0.2s ease;
}

#settings-popup form button:hover {
  background: rgb(240,240,240);
}

#def-obs {
  text-transform: uppercase;
}
