/* you can import CSS from other pens - we'll import color and typography styles from this pen */
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
  margin-top: 0em;
  background: rgba(85,85,85,1);
  color: #fff;
  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
}

h2 {
  width: 100%;
  font-weight:normal;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  max-height: 100%;
  min-width: 50%;
  padding-bottom: 0.5em;
}

#header {
  position: fixed;
  width: 100%;
  background: rgba(85,85,85,1);
}

#content {
  padding-top:8.5em;
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hidden {
  display:none;
}

.paneLink {
  position: fixed;
  background: rgba(85,85,85,1);
  width: 100%;
  padding-bottom: 1em;
}

.paneContent {
  padding-top: 3.1em;
}

.user {
  position: fixed;
  bottom:0;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5em;
  background: rgba(85,85,85,1);
  width:100%
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.graphic {
  flex: 2;
  order: 1;
  min-width: 600px;
  min-height: 436px;
  height: 73vh;
}

.text-area {
  flex: 1;
  order: 2;
  min-width: 250px;
  /*max-height: 100%;*/
  padding: 5px;
}

.textlinks {
  padding-bottom: 0.5em;
}

.bulletin {
  /*height: calc((100vw * 0.6)/1.3);
  max-height: 750px;*/
  height: 70vh;
  text-align: left;
  overflow-y: auto;
/*  white-space: pre-wrap;*/
  padding-bottom: 28px;
}

.bulletin a {
  color: #fff;
}

.links {
  width:90%;
  margin: 0 auto;
}

.link {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
}

.underline {
  border: 2px solid transparent;
}
.underline:after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.underline:hover:after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
}

.active:after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    color: black;
    text-align: left;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#orient {
  fill: rgba(85,85,85,1);
  stroke-width: 2;
  stroke: white;
}

button {
  /*background-color: #fff;
  color: white;
  padding: 16px 20px;*/
  background: rgba(85,85,85,1);
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
}

button:hover {
  opacity: 1;
}

#hamburger {
  display:none
}

#mySidenav {
  display:none;
}
.sidenav {
  display:none;
}

@media screen and (max-width: 700px) {
  /* implement bottom tray nav */
  .flex-container {
    flex-direction: column;
  }

  .graphic {
    flex: 1;
    order: 1;
    min-width: 95vw;
    padding-top: 1em;
    min-height:200px;
  }

  .text-area {
    flex: 1;
    order: 2;
    max-height: 50vw;
  }

  .bulletin {
    height: 60vw;
  }

  #hamburger {
    position:fixed;
    left:0;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  #mySidenav {
    display:block;
  }

  #header {
    display:none;
  }
  
  .subnav {
    padding-right: 2em;
  }

  .user {
    display:none;
  }

  #content {
    max-width: 95vw;
    padding-top: 1em;
  }
  .paneContent {
    padding-top:5.7em;
  }

  #orient {
    display: none;
  }

  .graphic {
    width:95vw;
    height:auto;
  }

  img {
    max-width: 95vw;
  }

  /*Sidenav*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
  }

  .sidenav h2 {
    color: #000;
    padding: 8px 0px 8px 4px;
    width: 242px;
    text-align: center;
  }

  .sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }




  /* Modal Content/Box
  .modal-content {
    text-align: center;
      background-color: rgba(85,85,85,1);
      margin:0;
      padding:20;
      border: 1px solid #888;
      width: 40%;  /*Could be more or less, depending on screen size
      height: 100vw;
  }

  /* The Close Button
  .close {
      color: white;
  }

  .close:hover,
  .close:focus {
      color: white;
  }*/
}
