# Local
.DS_Store
*.local
*.log*
.env

#server things
.htaccess
tmp/


# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

# Package managers
package-lock.json
# pnpm-lock.yaml should be committed

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# other stuff
*.tsbuildinfo